﻿html, body{
    height:100%;
    width:100%;
    box-sizing:content-box;
}

footer, header
{
    height:5%;
    background: #c3d9ff;
    background: linear-gradient(to bottom, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%);
}

footer{
    border-top:1px solid black;
}

header{
    border-bottom:1px solid black;
}

section{
    display:block;
}

.wrapper{
    height:90%;
    width:100%;
}

.upload_field{
    border:1px solid green;
    width:60%;
    /*height:15%;*/
    margin:5% auto;
    padding:1% 0;
    text-align:center;
}

.upload_field > *{
    margin:0 auto;
    vertical-align:middle;
}

.upload_field > form{
    display:inline-block;
    background:linear-gradient(to bottom, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
    border:2px solid black;
    border-radius:5px;
    width:45%;
    margin:0 2%;
    padding:1% 0;
}

.db-data_field{
    border:3px solid #98b0d9;
    border-radius:10px;
    /*box-shadow:inset 2px 2px 3px;*/
    width:90%;
    height:50%;
    margin:0 auto;
    padding:1%;
    overflow-y:auto;
    text-align:center;
}

.db-data_field > table th{
    text-align:center;
}

.db-data_field > table{
    text-align:center;
    vertical-align:middle;
}

.inner-table{
    margin:0;
    padding:0;
    font-size:smaller;
    /*text-align:left;*/
    vertical-align:middle;
}

.splitter{
    display:block;
    width:90%;
    margin:3% auto;
    border:2px solid black;
}

.sign{
    display:inline-block;
    width:45%;
    height:50%;
    /*border:1px solid black;*/
    margin:0 2%;
}

.sign > h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn_getfile{
    display:block;
    background-color:white;
    margin:2% auto;
    border:1px solid black;
    border-radius:3px;
    padding:5px;
    text-align:center;
}
