﻿@using XSD_tricks.Models;
@model IEnumerable<ConfigRecord>

<table class="table table-bordered">
    <thead>
        <tr>
            <th hidden="hidden">Id</th>
            <th>Connection string</th>
            <th>Query string</th>
            <th>Hotel system</th>
            <th>Id</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Middle name</th>
            <th>Gender</th>
            <th>Birth dath</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ConfigRecord rec in Model)
        {
            <tr>
                <td hidden="hidden">@rec.Id</td>
                <td>@rec.ConnectionString</td>
                <td>@rec.QueryString</td>
                <td>@rec.HotelSystem</td>
                <td>@Html.Action("ShowParameterData", "Main", new { pId = rec.PersonId })</td>
                <td>@Html.Action("ShowParameterData", "Main", new { pId = rec.PersonSurname })</td>
                <td>@Html.Action("ShowParameterData", "Main", new { pId = rec.PersonName })</td>
                <td>@Html.Action("ShowParameterData", "Main", new { pId = rec.PersonMiddleName })</td>
                <td>@Html.Action("ShowParameterData", "Main", new { pId = rec.PersonGender })</td>
                <td>@Html.Action("ShowParameterData", "Main", new { pId = rec.PersonBirthDate })</td>
            </tr>
        }
    </tbody>
</table>
