﻿@model XSD_tricks.Models.ParamRecord

<table class="inner-table table">
    <tr>
        <th>IsNullable</th>
        <td>@Model.IsNullable</td>
    </tr>
    <tr>
        <th>Value</th>
        <td>@Model.Value</td>
    </tr>
    <tr>
        <th>DictionaryName</th>
        <td>@Model.DictionaryName</td>
    </tr>
    <tr>
        <th>Length</th>
        <td>@Model.Length</td>
    </tr>
</table>

@*<p>IsNullable: @Model.IsNullable</p>
<p>Value: @Model.Value</p>
<p>DictionaryName: @Model.DictionaryName</p>
<p>Length: @Model.Length</p>*@

