﻿
@{
    ViewBag.Title = "Start";
}

<section class="upload_field">
    <div class="sign"><h2>Загрузка XML-схемы</h2></div>
    @using (Html.BeginForm("Start", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
    <input type="file" name="file" id="btn_getfile" />
    <input type="submit" class="btn btn-default" id="btn_upload" value="Отправить" />
    }
</section>
<div class="splitter"></div>
<section class="db-data_field">
    @Html.Action("ShowTableData")
</section>

